.Homepage_header {
  background-color: black;
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.github_icon {
  padding: 8px;
  margin-left: 7.3px;
  color: white !important;
  font-size: 70px !important ;
}
.user_info {
  width: 100%;
  margin-top: 17px;
  padding: 8px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid gainsboro;
}
.user_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.user_login_name {
  padding-left: 10px;
  color: gray;
}
.user_names {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
