.repo_full_name {
  margin: 13px;
  padding-left: 6px;
  font-size: 14px;
  color: blue;
}
.repo_main_name {
  display: flex;
  font-size: 28px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 6vh 0 1vh 0;
}
.repos_link {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-left: 22px
}
.repos_link > a {
  padding-left: 7px;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}
.repos_description  {
  font-size: 15px;
  margin: 10px 10px 10px 22px;
  color: gray;
}
.repos_date {
  margin: 10px 10px 10px 22px;
  font-size: 14px;
  color: black;
}


